
body{
	font-family: 'Roboto', sans-serif;
}
/* ESTILOS GERAIS  */
	.pg{
		margin-top: 60px;
	}
		.pg .cabecalhoConexoes{
			background: #a22514;
			min-height: 90px;
			text-align: center;
		    padding: 10px 0;

		}
		.pg .addconection{
			
		}
			.pg .addconection a{
			    display: block;
			    text-decoration: none;
			    color: #fff;
			    font-weight: 300;
			    font-size: 21px;
			    margin-top: 58px;
			}
			.pg .cabecalhoConexoes button{
				text-transform: uppercase;
				color: #fff;
				text-align: center;
				border: none;
				background: #ab3b2c;
				padding: 10px 40px;
				border-radius: 3px;
				position: relative;
				outline: none;	
				margin-top: 15px;

			}
				.pg .cabecalhoConexoes i{
					font-size: 20px;
					position: absolute;
					left: 10px;
				}
			.pg .cabecalhoConexoes p{
				color: #d59f98;
				font-size: 34px;
				font-weight: 400;
			}
				.pg .cabecalhoConexoes p strong{
					color: #fff;
					font-weight: 400;
				}
			.pg .cabecalhoConexoes  span{
				color: #d59f98;
				display: block
			}
		.pg .btnVerMais{
			width: 175px;
			height: 40px;
			border: 0;
			text-align: center;
			background: #f6f6f6;
			border-radius: 5px;
			color: #cc3421;
			font-size: 18px;
			margin: 0 auto;
			margin: 20px auto;
			display: block;
		}
			.pg .btnVerMais:hover{
				background: #cc3421;
				color: #fff;
			}

/* HEADER */
	.header{
		background: #c43321;
		padding: 20px  0 15px;
		width: 100%;
	
	}
		.header .logo{
			display: block;
			width: 144px;
		}	
			.header .logo h1{
				margin: 0;
				padding: 0;
			    text-indent: -9999em;
			    background: url(../img/logoVika.png);
			    width: 100%;
			    height: 42px;
			}
		.header .formularioLogin{
			text-align: left;
			width: 100%;
			max-width: 500px;
			float: right;
		}
			.header .formularioLogin input{
				width: 155px;
				height: 30px;
				display: inline-block;
				border: none;
				background:#b42f1e;
				padding: 10px;
				border-radius: 5px;
				font-size: 16px;
				color: #fff;
				outline: none;
				vertical-align: top;
				margin: 5px 2px;
			}
			.header .formularioLogin input::-webkit-input-placeholder{
				font-size: 16px;
				color: #e79790;
				font-family: 'Roboto', sans-serif;
			}
			.header .formularioLogin input:-moz-placeholder{
				font-size: 16px;
				color: #e79790;
				font-family: 'Roboto', sans-serif;
			}
			.header .formularioLogin input::-moz-placeholder{
				font-size: 16px;
				color: #e79790;  
				font-family: 'Roboto', sans-serif;
			}
			.header .formularioLogin input:-ms-input-placeholder{  
				font-size: 16px;
				color: #e79790;  
				font-family: 'Roboto', sans-serif;
			}
			.header .formularioLogin input[type="submit"]{
				width: 80px;
				height: 30px;
				background: #fff;
				text-transform: uppercase;
				color: #d73824;
				font-size: 15px;
				font-weight: bold;
				padding: 0;
				margin: 5px 0;
			}
				.header .formularioLogin input[type="submit"]:hover{
					border-color: #fff;
					background: transparent;
					color: #fff;
					border: solid 1px;
				}
			.header .formularioLogin a{
				font-size: 12px;
				color: #952519;
				display: block;
			}
	.headerInterno{
		background: #c6321f;	
		min-height: 60px;
		-webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
		box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 9;
	}
		.headerInterno .home{
			text-align: right;
			display: block;
			font-size: 35px;
			color: #fff;
			line-height: 60px;
			text-align: center
		}	
			.headerInterno .col-sm-1 a{
				
			}
		.headerInterno .formularioPesquisa{
			height: 40px;
			border-radius: 5px;
			width: 100%;
			max-width: 740px;
			margin: 0 auto;
			padding-top: 10px;
			position: relative;
		}
			
			.headerInterno .formularioPesquisa input{
				vertical-align: top;
			}
			.headerInterno .formularioPesquisa .pesquisarbtn{
				background:#9a2313;
				color: #fff;
				font-size: 20px;
				border: 0;
				width: 40px;
				height: 40px;
			    border-radius: 5px 0 0 5px;
			    position: absolute;
			    outline: none;
			}

				.headerInterno .formularioPesquisa .opcoesPesquisa{
					position: absolute;
					top: 49px;
					left: 0;
					padding: 0;
					list-style: none;
					margin: 0;
					
				}

				.headerInterno .formularioPesquisa .opcoesPesquisa li{
					display: block;
					background: #a22514;
					color: #fff;
					font-size: 15px;
					position: relative;
					height: 40px;
					padding: 10px 15px 0 55px;
					border-radius: 3px;
					margin: -39px 0;
					font-weight: 500;
					transition:All .5s ease;
					-webkit-transition:All .5s ease;
					-moz-transition:All .5s ease;
					-o-transition:All .5s ease;
					opacity: 0;
					cursor:pointer;
				}
					.headerInterno .formularioPesquisa .opcoesPesquisa li:hover{
						background: #9a2313;
					}
					.headerInterno .formularioPesquisa:hover .opcoesPesquisa li{
						margin: 2px 0; 
						transition:All .5s ease;
						-webkit-transition:All .5s ease;
						-moz-transition:All .5s ease;
						-o-transition:All .5s ease;
						opacity: 1;
					}
				.headerInterno .formularioPesquisa .opcoesPesquisa span{
					background:#9a2313;
					color: #fff;
					font-size: 20px;
					border: 0;
					width: 40px;
					text-align: center;
					height: 40px;
				    border-radius: 5px 0 0 5px;
				    outline: none;
				    position: absolute;
				    left: 0;
				    top: 0;
				    padding-top: 5px;
				   
				}
			.headerInterno .formularioPesquisa input[type="text"]{
				background: #a22514;
				height: 40px;
				font-size: 16px;
				color: #fff;
				border: none;
				padding: 0 50px;
				width: 100%;
				outline: none;
				border-radius: 5px 5px 5px 5px;
			}
				.headerInterno .formularioPesquisa input::-webkit-input-placeholder{
					font-size: 16px;
					color: #e79790;
					font-family: 'Roboto', sans-serif;
				}
				.headerInterno .formularioPesquisa input:-moz-placeholder{
					font-size: 16px;
					color: #e79790;
					font-family: 'Roboto', sans-serif;
				}
				.headerInterno .formularioPesquisa input::-moz-placeholder{
					font-size: 16px;
					color: #e79790;  
					font-family: 'Roboto', sans-serif;
				}
				.headerInterno .formularioPesquisa input:-ms-input-placeholder{  
					font-size: 16px;
					color: #e79790;  
					font-family: 'Roboto', sans-serif;
				}
		.headerInterno .formularioPesquisa .resultadosPesquisa{  
			display: none;
			background: #ad2716;
		}
		.headerInterno .formularioPesquisa .resultadosPesquisa.tag figure{  
			display: none;
		}
		.headerInterno .formularioPesquisa .resultadosPesquisa.tag .avaliacao i{  
			display: none;display: none;
		}
			.headerInterno .formularioPesquisa .resultadosPesquisa ul{  
				padding: 0;
				list-style: none;
				margin: 0;
				width: 100%;
				max-width: 700px;
				position: absolute;
				display: block;
				right: 0;
			    max-height: 180px;
				background: #ad2716;
			 	overflow-y : scroll;
			}
				.headerInterno .formularioPesquisa .resultadosPesquisa ul::-webkit-scrollbar-track {
					background-color: transparent;
				}

				.headerInterno .formularioPesquisa .resultadosPesquisa ul::-webkit-scrollbar {
					width: 5px;
					height: 0px;
					

					background-color:#8c1c0d;
				}

				.headerInterno .formularioPesquisa .resultadosPesquisa ul::-webkit-scrollbar-thumb {
					background-color: #ad2716

				}
				.headerInterno .formularioPesquisa .resultadosPesquisa ul::-webkit-resizer,
				.headerInterno .formularioPesquisa .resultadosPesquisa ul::-webkit-scrollbar-button,
				.headerInterno .formularioPesquisa .resultadosPesquisa ul::-webkit-scrollbar-corner {
					display: none;
				}	
				.headerInterno .formularioPesquisa .resultadosPesquisa ul li{  
					height: 60px;
					padding: 10px;
				}
				.headerInterno .formularioPesquisa .resultadosPesquisa ul .background{  
					background:#a22414;
				}
					.headerInterno .formularioPesquisa .resultadosPesquisa ul li a{  
						text-decoration: none;
						display: block;

					}
						.headerInterno .formularioPesquisa .resultadosPesquisa ul li a figure{  
							display: inline-block;
							width: 40px;
							height: 40px;
							background-position: center!important;
							background-size: cover!important;
							border-radius: 100%;
						}
						.headerInterno .formularioPesquisa .resultadosPesquisa ul li a p{  
							margin: 0;
							display: inline-block;
							vertical-align: top;
							color: #fff;
							font-size: 16px;
							padding-top: 10px;
							padding-left: 15px;
						}
					.headerInterno .formularioPesquisa .resultadosPesquisa ul li a .avaliacao{  
						float: right;
						padding:0 10px;
						color: #fff;
						text-align: right;
					}
						.headerInterno .formularioPesquisa .resultadosPesquisa ul li a .avaliacao i{  
							margin: 0 2px;
							font-size: 18px;
						}
						.headerInterno .formularioPesquisa .resultadosPesquisa ul li a .avaliacao span{  
							display: block;
							font-size: 13px;
						    color: rgba(255, 255, 255, 0.77);
						}
						.headerInterno .formularioPesquisa .resultadosPesquisa ul li a .avaliacao span i{  
							font-size: 15px;
							margin-left: 7px;

						}	
		.headerInterno .areaidentificacao{
			padding-top: 15px;
		}
			.headerInterno .areaidentificacao .dropdown{
				display:block;
			}
				.headerInterno .areaidentificacao .dropdown button{
					background: transparent;
					display: inline-block;
					border: none;
				}
				.headerInterno .areaidentificacao .dropdown-menu a{
					margin-bottom: 20px;
				}
				.headerInterno .areaidentificacao .fa-bell{
					position: relative;
				}
					.headerInterno .areaidentificacao .fa-bell:after{
						content: attr(data-valor-noficacao);
						display: block;
						font-size: 15px;
						position: absolute;
						background: #a22514;
						border-radius: 100%;
						width: 20px;
						height: 20px;
						text-align: center;
						font-weight: 600;
						padding: 2px;
						top: 14px;
						right: -4px;
					}
			.headerInterno .areaidentificacao strong{
				color: #fff;
				font-size: 15px;
			}	
			.headerInterno .areaidentificacao i{
				font-size: 25px;
				color: #fff;
			    margin: 0 5px;
			}
		.headerInterno .dropdown-menu{
			min-width: 300px!important;
			padding: 15px 10px!important;
			top: 165%!important;
		    left: -52px!important;
		}
			.headerInterno .dropdown{
				display: inline-block!important;
			}
			.headerInterno a{

				display: block;
			}
				.headerInterno a .figure{
					width: 55px;
					height: 55px;
					background-position: center!important;
					background-size: cover!important;
					border-radius: 100%;
					margin: 0 auto;
				}
				.headerInterno a .infoperfilnoficacao{

				}	
				.headerInterno a .infoperfilnoficacao p{
					font-size: 15px;
					color: #575757;
					margin:0;
				}	
					.headerInterno a .infoperfilnoficacao p strong{
						color: #575757;
					}		
					.headerInterno a .infoperfilnoficacao span{
						color: #c6321f;
						font-size: 15px;
						font-weight: 500;
					}
		.headerInterno .itensMenu{
			min-width: 220px!important;
		}
			.headerInterno .menuPerfil a{
				font-size: 15px!important;
				color: #525252!important;
				display: block;
				text-align: center;
			    margin: 0 0 10px!important;
			    position: relative;
			    text-decoration: none;
			}
			.headerInterno .menuPerfil .fa-user{
				color: #54a0d7!important;
			}
			.headerInterno .menuPerfil a:last-child{
				border-top: solid 1px #ccc;
				padding: 5px 0;
				margin: 0!important;
			}
			.headerInterno .menuPerfil a:first-child{
				border-bottom: solid 1px #ccc;
				padding: 5px 0;

			}
			.headerInterno .menuPerfil i{
				font-size: 17px!important;
				color: #575757!important;
				position: absolute;
				left: 5px;
			}

/* RODAPÉ */
	.rodape{
		background: #c43321;
		padding: 10px;

	}
		.rodape p{
			text-align: center;
			color: rgba(255, 255, 255, 0.55);
			margin: 0;
		}

/* PÁGINA DE AUTENTICAÇÃO */
	.pg-paginaAutenticacao{
		background: #d73824;
		margin: 0;
	
	}
		.pg-paginaAutenticacao .textoApresentacao{
			max-width: 800px;
			margin: 0 auto 50px;
		}
			.pg-paginaAutenticacao .textoApresentacao span{
				display: block;
				font-size: 20px;
				font-weight: 400;
				color: #fff;
				margin-top: 50px;
				margin-bottom: 30px;
				padding: 10px;
			}
			.pg-paginaAutenticacao .textoApresentacao p{
				font-size: 17px;
				text-align: left;
				color: #e79790;
				margin: 0;
				padding:0 10px;
			}
		.pg-paginaAutenticacao .loginRedessociais{
			text-align: center;
		}
			.pg-paginaAutenticacao .loginRedessociais a{
				font-size: 15px;
				font-weight: bold;
				text-transform: uppercase;
				color: #fff;
				background: #3b5998;
				padding: 10px 20px; 	
				border-radius: 5px;
				text-decoration: none;
			}
				.pg-paginaAutenticacao .loginRedessociais a:hover{
					background:#253b69;
				}
			.pg-paginaAutenticacao .formularioCadastro{
				max-width: 370px;
				margin: 0 auto 40px;
			}
				.pg-paginaAutenticacao .formularioCadastro input{
					display: block;
					width: 100%;
					height: 35px;
					border: none;
					background:#b42f1e;
					padding: 10px;
					border-radius: 5px;
					font-size: 16px;
					color: #fff;
					outline: none;
				    margin: 10px 0 0;
				}
					.pg-paginaAutenticacao .formularioCadastro input::-webkit-input-placeholder{
						font-size: 16px;
						color: #e79790;
						font-family: 'Roboto', sans-serif;
					}
					.pg-paginaAutenticacao .formularioCadastro input:-moz-placeholder{
						font-size: 16px;
						color: #e79790;
						font-family: 'Roboto', sans-serif;
					}
					.pg-paginaAutenticacao .formularioCadastro input::-moz-placeholder{
						font-size: 16px;
						color: #e79790;  
						font-family: 'Roboto', sans-serif;
					}
					.pg-paginaAutenticacao .formularioCadastro input:-ms-input-placeholder{  
						font-size: 16px;
						color: #e79790;  
						font-family: 'Roboto', sans-serif;
					}
				.pg-paginaAutenticacao .formularioCadastro input[type="name"]{
				    max-width: 95%;
				}	
				.pg-paginaAutenticacao .formularioCadastro .sobreNome{
					float: right;
				}
				.pg-paginaAutenticacao .formularioCadastro input[type="submit"]{
					width: 110px;
					height: 30px;
					background: #fff;
					text-transform: uppercase;
					color: #d73824;
					font-size: 15px;
					font-weight: bold;
					padding: 0;
					margin: 25px auto 0;
				}
					.pg-paginaAutenticacao .formularioCadastro input[type="submit"]:hover{
						border-color: #fff;
						background: transparent;
						color: #fff;
						border: solid 1px;
					}
			
/*  PÁGINA DE CONEXÕES */
	.pg-conexoes{
		
	}	
		.pg-conexoes .listadeconexoes{
			padding-top: 50px;
		}
			.pg-conexoes .listadeconexoes ul{
				padding: 0;
				list-style: none;

			}
				.pg-conexoes .listadeconexoes ul li{
					max-width: 760px;
					margin: 0 auto;
					border-bottom: #ccc solid 1px;
				    padding: 25px 10px;
				    position: relative
				}
				.pg-conexoes .listadeconexoes ul li .fa-trophy{
					font-size: 50px;
					position: absolute;
					left: 50px;
					top: 60px;
					color: #4d4d4d;
				}
					.pg-conexoes .listadeconexoes ul li a{
						display: block;
						max-width: 475px;
						margin: 0 auto;
						text-decoration: none;

					}
						.pg-conexoes .listadeconexoes ul li a .fotoconexao{

						}
							.pg-conexoes .listadeconexoes ul li a .fotoconexao figure{
								height: 125px;
								width: 125px;
								border-radius: 100%;
								background-position: center!important;
								background-size: cover!important;
							}
						.pg-conexoes .listadeconexoes ul li a .infoperfil{
							margin-bottom: 10px;
						}
							.pg-conexoes .listadeconexoes ul li a .infoperfil h2{
								color: #0274d1;
								font-size: 22px;
								margin: 0;
							}
							.pg-conexoes .listadeconexoes ul li a .infoperfil span{
								font-size: 14px;
								color: #d7d7d7;
								font-style: italic;
							}	
						.pg-conexoes .listadeconexoes ul li a .habilidades{
							
						}
							.pg-conexoes .listadeconexoes ul li a .habilidades h4{
								color: #4d4d4d;
								font-size: 14px;
								margin-top: 0;
							}
						.pg-conexoes .listadeconexoes ul li a .avaliacoes{
							
						}
							.pg-conexoes .listadeconexoes ul li a .avaliacoes .avaliacao{

							}
								.pg-conexoes .listadeconexoes ul li a .avaliacoes .avaliacao i{
									color: #990303;
									margin-bottom: 10px;
								}
								.pg-conexoes .listadeconexoes ul li a .avaliacoes .avaliacao .faTransparent{
									color: #e3cbcb;
								}
								.pg-conexoes .listadeconexoes ul li a .avaliacoes .avaliacao p{
								    margin: 0 0 10px;
								    font-size: 12px;
								    color: #bcbcbc;
								}				

/* PÁGINA PUBLICAR RECOMENDAÇÕES */
	.pg-publicarRecomedacoes{
		
	}
		.pg-publicarRecomedacoes .recomendacao{
			padding-top: 50px;
			max-width: 900px;
			margin: 10px auto 30px;
		}
			.pg-publicarRecomedacoes .recomendacao .fotoDescricao{
				width: 100%;
				max-width: 400px;
				margin: 0 auto;
				-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
				border-radius: 7px 7px 7px 7px;
			}	
				.pg-publicarRecomedacoes .recomendacao .fotoDescricao figure{
					width: 100%;
					
					height: 240px;
					display: block;
					background-position:center!important; 
					background-size:cover!important; 
				    border-radius: 7px 7px 0 0;
				}
				.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao{
					min-height: 100px;
					background: #2faaf3;
					padding-top: 20px;
					border-radius:0 0 7px 7px;
				}
				.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .iconeCurtir{
					text-align: center
				}		
				.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .iconeCurtir img{

				}
					.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .iconeCurtir span{
						display: block;
						color: #fff;
					}		
				.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .avaliacao{
					text-align: center;
					color: #fff;
				}
				.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .transparent{
					color: #84c6f7;
				}	
					.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .avaliacao .stars{

					}
				.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .iconeBtns{
					text-align: center;
				}
					.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .iconeBtns a{
						width: 45px;
						height: 45px;
						border-radius: 100%;
						background: red;
						text-align: center;
						display: inline-block;
						line-height: 45px;
						color: #fff;
						vertical-align: top;
						margin: 0 5px;
					}
					.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .iconeBtns .stars{
						color: #2faaf3;
						background: #fff;
						font-size: 25px;
					}
					.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .iconeBtns .curtir{
						background: #2587c1;
					}
					.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .iconeBtns .curtir:hover{
					    background: #7fc1e8;
					}
					.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .iconeBtns .curtir img{

					}
				.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .areaDescricao{
					background: #2a98d9;
					padding: 4px;
					padding-bottom:0;
					margin-top:10px;
					border-radius: 0 0 7px 7px;
				}	
					.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .areaDescricao textarea{
						width: 100%;
						max-width: 100%;
						background: #7fc1e8;
						height: 28px;
						max-height: 100px;
						border: 0;
						font-size: 14px;
						color: #fff;
						text-align: center;
					    padding: 4px;

					}
						.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .areaDescricao textarea::-webkit-input-placeholder{
							font-size: 14px;
							color: #21709e;
							text-align: center;

						}
						.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .areaDescricao textarea:-moz-placeholder{
							font-size: 14px;
							color: #21709e;
							text-align: center;

						}
						.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .areaDescricao textarea::-moz-placeholder{
							font-size: 14px;
							color: #21709e;
							text-align: center;

						}
						.pg-publicarRecomedacoes .recomendacao .fotoDescricao .descricaoRecomendacao .areaDescricao textarea:-ms-input-placeholder{  
							font-size: 14px;
							color: #21709e;
							text-align: center;

						}
			.pg-publicarRecomedacoes .recomendacao input[type="submit"]{

			}
			.pg-publicarRecomedacoes .recomendacao .infoRecomendacao{
				
			}
				.pg-publicarRecomedacoes .recomendacao .infoRecomendacao>span{
					font-size: 20px;
					text-align: center;
					display: block;
					color: #717171;
					font-weight: 500;
					margin-bottom: 10px;
				}
				.pg-publicarRecomedacoes .recomendacao .infoRecomendacao .cores{
					text-align: center;
				}
					.pg-publicarRecomedacoes .recomendacao .infoRecomendacao .cores span{
						display: inline-block;
						width: 22px;
						height: 22px;
						border-radius: 100%;
						margin: 0 3px;
					}
					.pg-publicarRecomedacoes .recomendacao .infoRecomendacao .cores p{
						font-size: 20px;
						color: #717171;
						font-weight: 600;
					    margin-top: 20px;
					}
				.pg-publicarRecomedacoes .recomendacao .infoRecomendacao .recomendacoesTags{
					width: 250px;
					margin: 0 auto;
					border-radius: 10px;
					background: #ececec;
					
				}	
					.pg-publicarRecomedacoes .recomendacao .infoRecomendacao .recomendacoesTags ul{
						
						list-style: none;
						padding: 0 15px;
						margin: 0;
					}	
						.pg-publicarRecomedacoes .recomendacao .infoRecomendacao .recomendacoesTags ul li{
							border-bottom: solid 1px #ccc;
							padding: 10px;
						}
						.pg-publicarRecomedacoes .recomendacao .infoRecomendacao .recomendacoesTags ul li:last-child{
							border:none;
						}	
							.pg-publicarRecomedacoes .recomendacao .infoRecomendacao .recomendacoesTags ul li h2{
								margin: 0;
								font-size: 16px;
								text-align: center;
								color: #575757;
							}
					.pg-publicarRecomedacoes .recomendacao .infoRecomendacao .recomendacoesTags button{
						display: block;
						text-align: center;
						background: #dfdfdf;
						border: transparent;
						color: #575757;
						font-size: 16px;
						border-top: 3px solid #d4d4d4;
						text-transform: uppercase;
						width: 100%;
						padding: 10px;
						font-weight: 600;
						border-radius: 0 0 10px 10px;
						outline: none;
					}
				.pg-publicarRecomedacoes .recomendacao .infoRecomendacao .carregarimagem{
					display: block;
					text-align: center;
					background: #f0f0f0;
					border: transparent;
					color: #575757;
					font-size: 16px;
					text-transform: uppercase;
					width: 100%;
					max-width: 190px;
					padding: 10px;
					font-weight: 600;
					border-radius: 4px;
					outline: none;
					margin: 20px auto;
				}
					.pg-publicarRecomedacoes .recomendacao .infoRecomendacao .carregarimagem:hover{
						background: #2faaf3;
						color: #fff;
					}
				.pg-publicarRecomedacoes .recomendacao  .publicar{
					text-align: center;
					text-transform:uppercase;
					color: #fff;
					background: #008cff;
					font-weight: bold;
					border-radius: 7px;
					border: none;
					border-bottom: solid 2px #0062b2;
					padding:5px 10px;
					margin: 0 auto;
					display: block;
					margin-top:30px; 
				}

/* PÁGINA EDITAR PERFIL */
	.pg-editarPerfil{
		
	}
		.pg-editarPerfil .areaEdicao{
				max-width: 900px;
				margin: 0 auto 60px;
				padding-top: 50px;
		}
			.pg-editarPerfil .sideBar{
				padding-top: 20px;
			}
				.pg-editarPerfil .sideBar a{
					display: block;
					font-size: 16px;
					color: #282828;
					display: block;
					margin: 5px 0;
					padding: 0 10px;
				}
				.pg-editarPerfil .sideBar hr{
					max-width: 170px;
					margin: 20px 0;
					border-top: 2px solid #eee;
				}
		.pg-editarPerfil .areaFomrulario{
		    border-left: solid 2px #eee;
		}
			.pg-editarPerfil .formularioConta{
				padding: 10px;
				margin: 0 auto;
				max-width: 460px;
			}
			.pg-editarPerfil .formularioConta span{
				display: block;
				text-align: center;
				color: #282828;
				font-size: 24px;
				font-weight: bold;
			    margin-bottom: 30px;
			}
			.pg-editarPerfil .formularioConta p{
				font-size: 16px;
				color: #a2a2a2;
				max-width: 358px;
				text-align: center;
				margin: 30px auto;
				font-weight: 300;
			}
			.pg-editarPerfil .formularioConta .areaInput{
				margin: 10px 0;
			}
				.pg-editarPerfil .formularioConta .areaInput label{
					font-size: 16px;
					color: #282828;
				}
				.pg-editarPerfil .formularioConta .areaInput input{
						outline: none;
				}
					.pg-editarPerfil .formularioConta .areaInput input:focus{
						border-color: #962516!important;
					}
				.pg-editarPerfil .formularioConta .areaInput input[type="name"]{
					width: 100%;
					max-width: 145px;
					height:28px;
					display: inline-block;
					background: #ececec;
					border-radius: 3px;
					border: 1px #adadad solid;
					padding: 10px;
					font-weight: 500;
					color: #c6321f;
					margin:0 2px;
				}
					.pg-editarPerfil .formularioConta .areaInput input::-webkit-input-placeholder{
						font-size: 16px;
						color: #c6321f;
						font-weight: 500;
					}
					.pg-editarPerfil .formularioConta .areaInput input:-moz-placeholder{
						font-size: 16px;
						color: #c6321f;
						font-weight: 500;
					}
					.pg-editarPerfil .formularioConta .areaInput input::-moz-placeholder{
						font-size: 16px;
						color: #c6321f; 
						font-weight: 500; 
					}
					.pg-editarPerfil .formularioConta .areaInput input:-ms-input-placeholder{  
						font-size: 16px;
						color: #c6321f; 
						font-weight: 500; 
					}
				.pg-editarPerfil .formularioConta .areaInput input[type="email"]{
					width: 100%;
					max-width: 297px;
					height:28px;
					display: inline-block;
					background: #ececec;
					border-radius: 3px;
					border: 1px #adadad solid;
					padding: 10px;
					font-weight: 500;
					color: #c6321f;
					margin:0 2px;
				}	
				.pg-editarPerfil .formularioConta .areaInput input[type="password"]{
					width: 100%;
					max-width: 297px;
					height:28px;
					display: inline-block;
					background: #ececec;
					border-radius: 3px;
					border: 1px #adadad solid;
					padding: 10px;
					font-weight: 500;
					color: #c6321f;
					margin:0 2px;
				}
				.pg-editarPerfil .formularioConta  input[type="submit"]{
					display: block;
					margin: 35px auto 0;
					padding: 5px 10px;
					background: #c6321f;
					color: #fff;
					text-align: center;
					text-transform: uppercase;
					font-size: 16px;
					border-radius: 3px;
					border: none;
				}
					.pg-editarPerfil .formularioConta  input[type="submit"]:hover{
						background: #962516;
					}
				


/* TIMELINE 1 */
	.pg-timeline1{
		
	}
		.pg-timeline1 .recomendacao{
			padding-top: 50px;
			max-width: 800px;
			margin: 0 auto;
		}
			.pg-timeline1 .recomendacao .fotoDescricao{
				width: 100%;
				max-width: 400px;
				margin: 0 auto;
				-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
				border-radius: 7px 7px 7px 7px;
			}	
				.pg-timeline1 .recomendacao .fotoDescricao figure{
					width: 100%;
					
					height: 240px;
					display: block;
					background-position:center!important; 
					background-size:cover!important; 
				    border-radius: 7px 7px 0 0;
				}
				.pg-timeline1 .recomendacao .fotoDescricao .descricaoRecomendacao{
					min-height: 100px;
					background: #2faaf3;
					padding-top: 20px;
					border-radius:0 0 7px 7px;
				}
				.pg-timeline1 .recomendacao .fotoDescricao .descricaoRecomendacao .iconeCurtir{
					text-align: center
				}		
				.pg-timeline1 .recomendacao .fotoDescricao .descricaoRecomendacao .iconeCurtir img{

				}
					.pg-timeline1 .recomendacao .fotoDescricao .descricaoRecomendacao .iconeCurtir span{
						display: block;
						color: #fff;
					}		
				.pg-timeline1 .recomendacao .fotoDescricao .descricaoRecomendacao .avaliacao{
					text-align: center;
					color: #fff;
				}
				.pg-timeline1 .recomendacao .fotoDescricao .descricaoRecomendacao .transparent{
					color: #84c6f7;
				}	
					.pg-timeline1 .recomendacao .fotoDescricao .descricaoRecomendacao .avaliacao .stars{

					}
				.pg-timeline1 .recomendacao .fotoDescricao .descricaoRecomendacao .iconeBtns{
					text-align: center;
				}
					.pg-timeline1 .recomendacao .fotoDescricao .descricaoRecomendacao .iconeBtns a{
						width: 45px;
						height: 45px;
						border-radius: 100%;
						background: red;
						text-align: center;
						display: inline-block;
						line-height: 45px;
						color: #fff;
						vertical-align: top;
						margin: 0 5px;
					}
					.pg-timeline1 .recomendacao .fotoDescricao .descricaoRecomendacao .iconeBtns .stars{
						color: #2faaf3;
						background: #fff;
						font-size: 25px;
					}
					.pg-timeline1 .recomendacao .fotoDescricao .descricaoRecomendacao .iconeBtns .curtir{
						background: #2587c1;
					}
					.pg-timeline1 .recomendacao .fotoDescricao .descricaoRecomendacao .iconeBtns .curtir img{

					}
				.pg-timeline1 .recomendacao .fotoDescricao .descricaoRecomendacao .areaDescricao{
					background: #2a98d9;
					padding: 4px;
					padding-bottom:0;
					margin-top:10px;
					border-radius: 0 0 7px 7px;
				}	
					.pg-timeline1 .recomendacao .fotoDescricao .descricaoRecomendacao .areaDescricao p{
						color: #340b07;
						font-size: 14px;
						text-align: center;
						padding: 10px 0;

					}
						
			.pg-timeline1 .areaPerfil{
				text-align: center;
				padding-top: 20px;
			}
				.pg-timeline1 .areaPerfil figure{
						display: inline-block;
						width: 45px;
						height: 45px;
						border-radius: 100%;
						background-position: center!important;
						background-size: cover!important;
						margin: 0 5px;

				}
				.pg-timeline1 .areaPerfil .nome{
					display: inline-block;
					text-align: left;
				}
					.pg-timeline1 .areaPerfil .nome h2{
						font-size: 20px;
						margin: 0;
						color: #656565;
					}
					.pg-timeline1 .areaPerfil .nome span{
						font-size: 14px;
						color: #bbbbbb;
					}
				.pg-timeline1 .areaPerfil ul{
					list-style: none;
					padding: 0;
					margin-top: 50px;
				}
					.pg-timeline1 .areaPerfil ul li{
						margin-bottom: 16px;
					}
						.pg-timeline1 .areaPerfil ul li h3{
							margin: 0;
							font-size: 16px;
							color: #a1a1a1;
						}
						.pg-timeline1 .areaPerfil ul li i{
							color: #990303;
							font-size: 16px;
						}
						.pg-timeline1 .areaPerfil ul li .transparent{
							color: #e3cbcb;
						}
			
/* TIMELINE */
	.pg-timeline2{
		
	}
		.pg-timeline2 .perfilnUsuario{
			background: #cc3421;
		}
			.pg-timeline2 .areaPerfil{
				max-width:810px;
				margin: 0 auto;
			    padding-top: 40px;
		        padding-bottom: 15px;
			}
			.pg-timeline2 .tagsPopulares p{
				font-size: 18px;
				color: #fff;
			}
			.pg-timeline2 .tagsPopulares{
					max-width: 220px;
					margin: 0 auto;
			}
			.pg-timeline2 .tagsPopularesnomes {
				display: inline-block;
				    margin-right: 25px;
			}
				.pg-timeline2 .tagsPopulares  h2{
					font-style: italic;
					font-size: 17px;
					color: #fff;
					margin: 0;
					font-weight: 400;
				    margin: 0px 0 8px
				}	
			.pg-timeline2 .tagsPopulares .starDeavaliacoes{
				display: inline-block
			}
			.pg-timeline2 .tagsPopulares .avaliacoesTags{
				color: #fff;
			    margin: 0px 0 8px
			}
				.pg-timeline2 .tagsPopulares .avaliacoesTags .faTransparent{
					color: #d46157;
				}
		.pg-timeline2 .infoperfil{
			text-align: center;
		}	
			.pg-timeline2 .infoperfil figure{
				width: 155px;
				height: 155px;
				border-radius: 100%;
				background-position: center!important;
				background-size: cover!important;
				margin: 0 auto;

			}
			.pg-timeline2 .infoperfil h1{
				color:#FFF;
				font-size: 25px;
			}
				.pg-timeline2 .infoperfil h1 i{
					color:#68ff3f;
				}
			.pg-timeline2 .infoperfil span{
				font-size: 14px;
				color: #fff
			}
			.pg-timeline2 .infoperfil img{

			}
		.pg-timeline2 .descricaoPerfil{
			max-width: 220px;
			margin: 0 auto;
		    padding-top: 30px;

		}
			.pg-timeline2 .descricaoPerfil p{
				font-size: 15px;
				color: #fff;
			    margin: 0 0 5px;
			    text-align: left;
			}
				.pg-timeline2 .descricaoPerfil i{
					font-size: 25px;
			        margin-right: 20px;
				}
				.pg-timeline2 .descricaoPerfil img{
			       margin-right: 10px;
				}
				.pg-timeline2 .descricaoPerfil span{
					font-size: 20px;
				    margin-right: 20px;
				}
		.pg-timeline2 .recomendacao{
			padding-top: 50px;
			max-width: 900px;
			margin: 0 auto;
		}
			.pg-timeline2 .recomendacao .fotoDescricao{
				width: 100%;
				max-width: 400px;
				margin: 0 auto;
				-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
				border-radius: 7px 7px 7px 7px;
			}	
				.pg-timeline2 .recomendacao .fotoDescricao figure{
					width: 100%;
					
					height: 240px;
					display: block;
					background-position:center!important; 
					background-size:cover!important; 
				    border-radius: 7px 7px 0 0;
				}
				.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao{
					min-height: 100px;
					background: #2faaf3;
					padding-top: 20px;
					border-radius:0 0 7px 7px;
				}
				.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .iconeCurtir{
					text-align: center
				}		
				.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .iconeCurtir img{

				}
					.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .iconeCurtir span{
						display: block;
						color: #fff;
					}		
				.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .avaliacao{
					text-align: center;
					color: #fff;
				}
				.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .transparent{
					color: #84c6f7;
				}	
					.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .avaliacao .stars{

					}
				.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .iconeBtns{
					text-align: center;
				}
					.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .iconeBtns a{
						width: 45px;
						height: 45px;
						border-radius: 100%;
						background: red;
						text-align: center;
						display: inline-block;
						line-height: 45px;
						color: #fff;
						vertical-align: top;
						margin: 0 5px;
					}
					.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .iconeBtns .stars{
						color: #2faaf3;
						background: #fff;
						font-size: 25px;
					}
					.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .iconeBtns .curtir{
						background: #2587c1;
					}
					.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .iconeBtns .curtir img{

					}
				.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .areaDescricao{
					background: #2a98d9;
					padding: 4px;
					padding-bottom:0;
					margin-top:10px;
					border-radius: 0 0 7px 7px;
				}	
					.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .areaDescricao textarea{
						width: 100%;
						max-width: 100%;
						background: #7fc1e8;
						height: 28px;
						max-height: 100px;
						border: 0;
						font-size: 14px;
						color: #fff;
						text-align: center;
					    padding: 4px;

					}
						.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .areaDescricao textarea::-webkit-input-placeholder{
							font-size: 14px;
							color: #21709e;
							text-align: center;

						}
						.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .areaDescricao textarea:-moz-placeholder{
							font-size: 14px;
							color: #21709e;
							text-align: center;

						}
						.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .areaDescricao textarea::-moz-placeholder{
							font-size: 14px;
							color: #21709e;
							text-align: center;

						}
						.pg-timeline2 .recomendacao .fotoDescricao .descricaoRecomendacao .areaDescricao textarea:-ms-input-placeholder{  
							font-size: 14px;
							color: #21709e;
							text-align: center;

						}
			.pg-timeline2 .recomendacao input[type="submit"]{

			}
			.pg-timeline2 .recomendacao .infoRecomendacao{
				
			}
				.pg-timeline2 .recomendacao .infoRecomendacao>span{
					font-size: 20px;
					text-align: center;
					display: block;
					color: #717171;
					font-weight: 500;
					margin-bottom: 10px;
				}
				.pg-timeline2 .recomendacao .infoRecomendacao .cores{
					text-align: center;
				}
					.pg-timeline2 .recomendacao .infoRecomendacao .cores span{
						display: inline-block;
						width: 22px;
						height: 22px;
						border-radius: 100%;
						margin: 0 3px;
					}
					.pg-timeline2 .recomendacao .infoRecomendacao .cores p{
						font-size: 20px;
						color: #717171;
						font-weight: 600;
					    margin-top: 20px;
					}
				.pg-timeline2 .recomendacao .infoRecomendacao .recomendacoesTags{
					width: 250px;
					margin: 0 auto;
					border-radius: 10px;
					background: #ececec;
					
				}	
					.pg-timeline2 .recomendacao .infoRecomendacao .recomendacoesTags ul{
						
						list-style: none;
						padding: 0 15px;
						margin: 0;
					}	
						.pg-timeline2 .recomendacao .infoRecomendacao .recomendacoesTags ul li{
							border-bottom: solid 1px #ccc;
							padding: 10px;
						}
						.pg-timeline2 .recomendacao .infoRecomendacao .recomendacoesTags ul li:last-child{
							border:none;
						}	
							.pg-timeline2 .recomendacao .infoRecomendacao .recomendacoesTags ul li h2{
								margin: 0;
								font-size: 16px;
								text-align: center;
								color: #575757;
							}
					.pg-timeline2 .recomendacao .infoRecomendacao .recomendacoesTags button{
						display: block;
						text-align: center;
						background: #dfdfdf;
						border: transparent;
						color: #575757;
						font-size: 16px;
						border-top: 3px solid #d4d4d4;
						text-transform: uppercase;
						width: 100%;
						padding: 10px;
						font-weight: 600;
						border-radius: 0 0 10px 10px;
						outline: none;
					}
				.pg-timeline2 .recomendacao .infoRecomendacao .carregarimagem{
					display: block;
					text-align: center;
					background: #f0f0f0;
					border: transparent;
					color: #575757;
					font-size: 16px;
					text-transform: uppercase;
					width: 100%;
					max-width: 190px;
					padding: 10px;
					font-weight: 600;
					border-radius: 4px;
					outline: none;
					margin: 20px auto;
				}
				.pg-timeline2 .recomendacao  .publicar{
					text-align: center;
					text-transform:uppercase;
					color: #fff;
					background: #008cff;
					font-weight: bold;
					border-radius: 7px;
					border: none;
					border-bottom: solid 2px #0062b2;
					padding:5px 10px;
					margin: 0 auto;
					display: block;
					margin-top:30px; 
				}
			.pg-timeline2 .areaPerfil{
				text-align: center;
				padding-top: 20px;
			}
				.pg-timeline2 .areaPerfil>figure{
						display: inline-block;
						width: 45px;
						height: 45px;
						border-radius: 100%;
						background-position: center!important;
						background-size: cover!important;
						margin: 0 5px;

				}
				.pg-timeline2 .areaPerfil .nome{
					display: inline-block;
					text-align: left;
				}
					.pg-timeline2 .areaPerfil .nome h2{
						font-size: 20px;
						margin: 0;
						color: #656565;
					}
					.pg-timeline2 .areaPerfil .nome span{
						font-size: 14px;
						color: #bbbbbb;
					}
				.pg-timeline2 .areaPerfil ul{
					list-style: none;
					padding: 0;
					margin-top: 50px;
				}
					.pg-timeline2 .areaPerfil ul li{
						margin-bottom: 16px;
					}
						.pg-timeline2 .areaPerfil ul li h3{
							margin: 0;
							font-size: 16px;
							color: #a1a1a1;
						}
						.pg-timeline2 .areaPerfil ul li i{
							color: #990303;
							font-size: 16px;
						}
						.pg-timeline2 .areaPerfil ul li .transparent{
							color: #e3cbcb;
						}

/* TUTORIAL */
	.pg-tutorial{
		background:rgba(63, 16, 11, 0.78);
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 9999;
		display: none;
		top: -60px;

	}	
		.pg-tutorial .areaTutorial{
			width: 100%;
			max-width: 400px;
			background: #d83724;
		    margin:25px auto 0;
		    border-radius: 7px;
		    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
		    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
		    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
		    position: fixed;
		    right: 0;
		    left: 0;
		}
		.pg-tutorial strong{
			font-size: 22px;
			color: #fff;
			display: block;
			text-align: center;
		    padding: 25px 0;
		    
		}
		.pg-tutorial figure{
			width: 90%;
			background: #b82f1f;
			height: 250px;
			margin: 0 auto;
			background-position:center!important;
			background-size:cover!important;
		}
		.pg-tutorial span{
			font-size: 22px;
			color: #fff;
			display: block;
			text-align: center;
			padding: 15px 0 0;
		}
		.pg-tutorial p{
			color: #fff;
			padding: 10px 20px;
			font-size: 14px;
		}
		.pg-tutorial small{
			font-size: 12px;
			color: #fff;
			text-align: center;
			display: block
		}	
		.pg-tutorial .btns{
			position: relative;
			height: 40px;
			padding-top: 10px;
		}
			.pg-tutorial button{
				position: absolute;
				color: #9b8986;
				background: #e8cdc9;
				font-size: 18px;
				text-align: left;
				display: block;
				width: 100%;
				max-width: 45px;
				border: none;
				border-radius: 9px;
				top: 0;
				margin: 0 10px;
				outline: none;
			}
			.pg-tutorial .right{
				text-align: right;
				right: 0!important;
				top: 0;
			}

/* CABEÇALHO DA PÁGINA */
	.pg-editarFoto{
		
	}
		.pg-editarFoto .areaEditarFoto{
			margin: 0 auto;
			max-width: 800px;
			padding-top: 50px;
		}
			.pg-editarFoto .areaEditarFoto .foto{

			}
				.pg-editarFoto .areaEditarFoto .foto span{
					text-align: center;
					display: block;
					font-size: 22px;
					font-weight: 700;
					margin: 20px 0;
				}
				.pg-editarFoto .areaEditarFoto .foto figure{
					width: 100%;
					height: 200px;
					max-width: 200px;
					border-radius: 100%;
					background-position: center!important;
					background-size: cover!important;
					margin: 0 auto;
					position: relative;
					cursor: pointer;
				}
					.pg-editarFoto .areaEditarFoto .foto figure:before{
						content: '';
						display: block;	
						width: 100%;
						height: 200px;
						max-width: 200px;
						border-radius: 100%;
					    background: rgba(0, 0, 0, 0.43);
					    opacity: 0;
					}
						.pg-editarFoto .areaEditarFoto .foto figure:hover:before{
							opacity: 1;
						}

					.pg-editarFoto .areaEditarFoto .foto figure button{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						background: #c6321f;
						border: 0;
						color: #fff;
						text-transform: uppercase;
						font-size: 20px;
						display: block;
						width: 100%;
						max-width: 150px;
						border-radius: 5px;
						padding: 5px 0;
						line-height: 25px;
						font-weight: 500;
						display: none;
						outline: none;
					}
						.pg-editarFoto .areaEditarFoto .foto figure:hover button{
							display: block;
						}
			.pg-editarFoto .areaEditarFoto .icone{
				position: relative;
			    padding-top: 140px;
			}
				.pg-editarFoto .areaEditarFoto .icone img{
					display: block;
					margin: 0 auto;
				}
		.pg-editarFoto  .areaSalvar{
			background: #e8e8e8;
			padding: 20px 0;
			text-align: center;
			margin: 50px 0;
		}
			.pg-editarFoto  .areaSalvar .cancelar{
				color: #696969;
				font-size: 16px;
				background: transparent;
				border: none;
				text-transform: uppercase;
				margin: 0 10px;
				font-weight: 500;
				padding: 9px 25px;
				border-radius: 5px;
			}
				.pg-editarFoto  .areaSalvar .cancelar:hover{
					color: #fff;
					background:#c6321f;
				}
			.pg-editarFoto  .areaSalvar .salvar{
				color: #fff;
				font-size: 16px;
				border: none;
				text-transform: uppercase;
				margin: 0 10px;
				background: #c6321f;
				padding: 9px 25px;
				border-radius: 5px;
				font-weight: 500;
			}

/* 404 */
	.pg-404{
		background:#d73824;
		text-align: center;
		color: #fff;

	}
		.pg-404 p{
			text-align: center;
			color: #fff;
			font-size: 35px;
			padding: 10px;
			max-width: 730px;
			margin: 0 auto;
		}
		.pg-404 img{
			display: block;
			margin: 70px auto;
		}
		.pg-404 span{
			display: block;
			text-align: center;
			font-size: 16px;
			color: rgba(255, 255, 255, 0.66);
			max-width: 660px;
		    margin: 0 auto 30px;
		}
		.pg-404 a{
			color: #fff;
			font-weight: 500;
			font-size: 15px;
		}

/* @MEDIAS */
	@media(max-width: 881px){
		.headerInterno .dropdown-menu{
			
		}
	}
	@media (max-width: 768px){
		.fa-user-circle-o{
			display: inline-block!important;
		}
		.pg-editarPerfil .formularioConta{
			max-width: 100%;
		}
		.pg-editarPerfil .formularioConta .areaInput{
			text-align: center
		}
		.pg-editarPerfil .sideBar{
			padding-top: 0;
			text-align: center;
			margin: 0 0 40px;
		}
		.pg-editarPerfil .sideBar hr{
		    margin: 20px auto;
		}
		.pg-editarFoto .areaEditarFoto .icone{
			padding-top: 20px;
		}
		.pg-editarFoto .areaEditarFoto .icone img{
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
		}
		.header .logo{
		    margin: 0 auto 20px;
		}	
		.header .formularioLogin{
			float: initial;
			margin: 0 auto;
			text-align: center;
		}
		.pg-paginaAutenticacao .loginRedessociais{
			text-align: center;
			margin: 0 0 50px;
		}
		.pg-paginaAutenticacao .formularioCadastro{
			padding: 0 10px;
		}
		.pg-conexoes .listadeconexoes ul li a .fotoconexao figure{
			margin: 0 auto;
		}
		.pg-conexoes .listadeconexoes ul li a .infoperfil{
			text-align: center;
		}
		.pg-conexoes .listadeconexoes ul li .fa-trophy{
		    left:75px;
		}
		.pg-conexoes .listadeconexoes ul li a .infoperfil h2{
			margin: 10px 0;
		}
		.pg-conexoes .listadeconexoes ul li a .avaliacoes,.pg-conexoes .listadeconexoes ul li a .habilidades{
			text-align: center;
		}
		.pg .cabecalhoConexoes p{
			font-size: 25px;
		}
	}
	@media (max-width: 440px){
		.pg-editarPerfil .formularioConta .areaInput input[type="name"]{
			display: block;
			max-width: 100%;
			margin: 0 0 10px;
		}
	}